<a href="https://colab.research.google.com/github/abhirockraj1/DataAnalysis/blob/main/DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install opendatasets --upgrade --quiet

In [21]:
import pandas as pd
import os
import opendatasets as od
import datetime as dt
from sklearn.impute import KNNImputer

In [3]:
# Assign the Kaggle data set URL into variable
dataset = 'https://www.kaggle.com/datasets/saketk511/2019-2024-us-stock-market-data'
# Using opendatasets let's download the data sets
od.download(dataset)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: rajabhi1
Your Kaggle Key: ··········
Downloading 2019-2024-us-stock-market-data.zip to ./2019-2024-us-stock-market-data

100%|██████████| 155k/155k [00:00<00:00, 475kB/s]

In [11]:
df = pd.read_csv("/content/2019-2024-us-stock-market-data/Stock Market Dataset.csv",index_col= 0)
df.head()

,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,Platinum_Price,...,Berkshire_Price,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.
0,02-02-2024,2.079,NaN,72.28,NaN,3.8215,NaN,"43,194.70",42650.0,901.6,...,"5,89,498",10580.0,564.64,4030000.0,171.81,117220000.0,474.99,84710000.0,"2,053.70",NaN
1,01-02-2024,2.050,161340.0,73.82,577940.0,3.8535,NaN,"43,081.40",47690.0,922.3,...,"5,81,600",9780.0,567.51,3150000.0,159.28,66360000.0,394.78,25140000.0,"2,071.10",260920.0
2,31-01-2024,2.100,142860.0,75.85,344490.0,3.9060,NaN,"42,580.50",56480.0,932.6,...,"5,78,020",9720.0,564.11,4830000.0,155.20,49690000.0,390.14,20010000.0,"2,067.40",238370.0
3,30-01-2024,2.077,139750.0,77.82,347240.0,3.9110,NaN,"42,946.20",55130.0,931.7,...,"5,84,680",9750.0,562.85,6120000.0,159.00,42290000.0,400.06,18610000.0,"2,050.90",214590.0
4,29-01-2024,2.490,3590.0,76.78,331930.0,3.8790,NaN,"43,299.80",45230.0,938.3,...,"5,78,800",13850.0,575.79,6880000.0,161.26,42840000.0,401.02,17790000.0,"2,034.90",1780.0

In [12]:
## Converting the date col to pd datetime
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True)

In [17]:
#Extracting extra features from the present df like year, month, month_name, day, dayofWeek, dayname, week, quater
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['monthName'] = df['Date'].dt.month_name()
df['day'] = df['Date'].dt.day
df['dayOfWeek'] = df['Date'].dt.dayofweek
df['dayName'] = df['Date'].dt.day_name()
df['week'] = df['Date'].dt.isocalendar().week
df['quater'] = df['Date'].dt.quarter

In [18]:
df.head(1)

,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,Platinum_Price,...,Gold_Price,Gold_Vol.,year,month,monthName,day,dayOfWeek,dayName,week,quater
0,2024-02-02,2.079,NaN,72.28,NaN,3.8215,NaN,"43,194.70",42650.0,901.6,...,"2,053.70",NaN,2024,2,February,2,4,Friday,5,1

In [20]:
#Checking for null value in any cols
df.isnull().sum()
# We can see 6 cols have null value so will use KNN imputer to replace the nan value

Date                   0
Natural_Gas_Price      0
Natural_Gas_Vol.       4
Crude_oil_Price        0
Crude_oil_Vol.        23
Copper_Price           0
Copper_Vol.           37
Bitcoin_Price          0
Bitcoin_Vol.           0
Platinum_Price         0
Platinum_Vol.        607
Ethereum_Price         0
Ethereum_Vol.          0
S&P_500_Price          0
Nasdaq_100_Price       0
Nasdaq_100_Vol.        1
Apple_Price            0
Apple_Vol.             0
Tesla_Price            0
Tesla_Vol.             0
Microsoft_Price        0
Microsoft_Vol.         0
Silver_Price           0
Silver_Vol.           47
Google_Price           0
Google_Vol.            0
Nvidia_Price           0
Nvidia_Vol.            0
Berkshire_Price        0
Berkshire_Vol.         0
Netflix_Price          0
Netflix_Vol.           0
Amazon_Price           0
Amazon_Vol.            0
Meta_Price             0
Meta_Vol.              0
Gold_Price             0
Gold_Vol.              2
year                   0
month                  0
monthName              0
day                    0
dayOfWeek              0
dayName                0
week                   0
quater                 0
dtype: int64

In [ ]:
#changing the data type to float of all the relevent cols

In [22]:
imputer = KNNImputer(n_neighbors=2, weights='distance')
dfImputed = imputer.fit_transform(df)
dfImputed.head()

ValueError: could not convert string to float: '43,194.70'